<a href="https://colab.research.google.com/github/SnehaSathyavati/Python-Practice/blob/main/GeakMinds_Internship.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num = 80
str1 = "Good Morning"
lst = ['Apple', ' Mango', ' Watermelon']
print(type(num),type(str1),type(lst))
num1 = 8.9
num2 = 2j
print(type(num1),type(num2))

<class 'int'> <class 'str'> <class 'list'>
<class 'float'> <class 'complex'>

In [ ]:
tup1 = ('Red', 'Blue','Green')
set1 = {1, 'Pasta', 2j}
dict1 = { 'Italy':'Pasta', 'India':'Idli', 'Japan':'Ramen'}
print(type(tup1),type(set1),type(dict1))

<class 'tuple'> <class 'set'> <class 'dict'>

In [ ]:
# List is Mutable
lst1 = ['Apple', ' Mango', ' Watermelon']
lst1[1]= 'Strawberry'
print(lst1)

['Apple', 'Strawberry', ' Watermelon']

In [ ]:
# Tuple is Immutable
tup1 = ('Red', 'Blue','Green')
tup1 = (1 , "Yellow", 8j)
print(tup1)
#tup1[2] = 'Yellow'
#rint(tup1)

(1, 'Yellow', 8j)

In [ ]:
# String are Immutable
str1 = "Good Morning"
str1 = "Python"
#str1[5]= "N"
print(str1)
print(str1[-2])

Python
o

In [ ]:
a = 25
b = 20
print(a*b, a/b, a%b, a**b, a//b)

500 1.25 5 9094947017729282379150390625 1

In [ ]:
# Multi line strings
''' I am
Learning
Python '''

' I am\nLearning\nPython '

In [ ]:
a = 10
b = 20
a != b

True

In [ ]:
# Slicing
str1 = "Good Morning"
str1[3:6]
print(str1[1:2])
print(str1[-1:-2])
print(str1[-2:-1])

o

n

In [ ]:
# Prime Number Checker:
# Check if a given number is prime or not.
# Prime Number are numbers which can be divisible only by 1 and the number itself.
num = int(input("Enter the Number: "))
if num == 0 or num == 1:
  print("The number is not a prime number.")
elif num > 1:
  for i in range(2,num):
    if (num%i) == 0:
      print("The number is not a prime number.")
      break
  else:
    print("The number is a prime number.")
else:
  print("The number is not a prime number.")

Enter the Number: 5
The number is a prime number.

In [ ]:
# Leap Year Checker:
# Determine if a given year is a leap year.
# Leap Year comes every 4 years.
num = int(input("Enter the Year: "))
if (num%400 == 0) and (num%100 == 0):
  print("It is a Leap year.")
elif (num%4 == 0) and (num%100 != 0):
  print("It is a Leap year.")
else:
  print("It is not a Leap year")

Enter the Year: 2000
It is a Leap year.

In [ ]:
# Largest of Three Numbers:
# Find the largest number among three inputs.
Num1 = int(input("Enter the num"))
Num2 = int(input("Enter the num"))
Num3 = int(input("Enter the num"))
if (Num1 > Num2) and (Num1 > Num3):
  print("Num1 is Greater")
elif (Num2 > Num1) and (Num2 > Num3):
  print("Num2 is Greatest")
else:
  print(Num3,"is Greatest")

Enter the num10
Enter the num20
Enter the num30
30  is Greatest

In [ ]:
# Grading System:
# Convert marks into grades based on given conditions (e.g., 90+ is A).
Grade = int(input("Enter the Grade: "))
if Grade >= 60:
  print("The Grade is D")
elif Grade >= 70:
  print("The Grade is C")
elif Grade >= 80:
  print("The Grade is B")
elif Grade >= 90:
  print("The Grade is A")
else:
  print("The Grade is F")

Enter the Grade: 85
The Grade is D

In [ ]:
# Triangle Validity:
# Check if three given sides can form a valid triangle.       ## Correction
Num1 = int(input("Enter the num"))
Num2 = int(input("Enter the num"))
Num3 = int(input("Enter the num"))
if Num1+Num2+Num3 == 180:
  print("Valid")
else:
  print("Invalid")

Enter the num70
Enter the num50
Enter the num60
Valid

In [ ]:
Num1 = int(input("Enter the num"))
Num2 = int(input("Enter the num"))
Num3 = int(input("Enter the num"))
if Num1+Num2 > Num3:
  print("Valid")
elif Num2+Num3 > Num1:
  print("Valid")
elif Num3+Num1 > Num2:
  print("Valid")
else:
  print("Not Valid")

Enter the num10
Enter the num20
Enter the num35
Valid

In [ ]:
# Palindrome Number:
# Check if a given number is a palindrome
num = int(input("Enter the num"))
reversed = int(str(num)[::-1])
if num == reversed:
  print("The Number is palindromic.")
else:
  print("The Number is not palindromic.")

Enter the num12344321
The Number is palindromic.

In [ ]:
# Armstrong Number:
# Verify if a number is an Armstrong number.
# sum of individual digits, to the power to its len
num = input("Enter the num: ")
num1 = 0
for i in num:
  num1 = num1 + int(i)**len(num)
if int(num) == num1:
  print("Valid")
else:
  print("Invalid")

Enter the num: 153
1
125
27
Invalid

In [ ]:
a = input("Enter number ")
print(type(a))

Enter number 123
<class 'str'>

In [ ]:
# Sum of Even and Odd Numbers:
# Calculate the sum of even and odd numbers in a given range.
num = int(input("Enter the num: "))
if num % 2 == 0:
  print("Even")
else:
  print("Odd")

Enter the num: 12
Even

In [ ]:
# Fibonacci Sequence:
# Generate a Fibonacci sequence up to a specified number of terms.
num = int(input("Enter the num: "))
n1 , n2 = 0,1
count = 0
if num <= 0:
  print("Enter Positive number")
elif num == 1:
  print("The Fibonacci Sequence of 1 is 1")
else:
  print("Fibonacci Sequence")
  while count<num:
    print(n1)
    nth = n1 + n2
    n1 = n2
    n2 = nth
    count += 1

Enter the num: 7
Fibonacci Sequence
0
1
1
2
3
5
8

In [ ]:
# Factorial Calculator:
# Compute the factorial of a given number using conditional logic.
num = int(input("Enter the num: "))
factorial = 1
if num == 0:
  print("Please enter positive number.")
elif num == 1:
  print("Factorial of 1 is 1.")
else:
  for i in range(1,num+1):
    factorial*= i                   # equavalent to factorial = factorial*i
  print("The factorial of",num,"is:",factorial)

Enter the num: 4
The factorial of 4 is: 24

In [ ]:
# String
# Reverse a String:
# Reverse a given string without using slicing.
str1 = input("Enter the string: ")
str2 = str1 [::-1]
print(str2)

Enter the string: madam
madam

In [ ]:
# Count Vowels and Consonants:
# Count the number of vowels and consonants in a string.
str1 = "Good Morning"
count_vowel = 0
count_conso = 0
vowels = ['a','e','i','o','u','A','E','I','O','U']
for i in str1:
  if i in vowels:
    count_vowel+=1

  else:
    count_conso += 1

print(count_conso)
print(count_vowel)

8
4

In [ ]:
# Check Substring:
# Check if one string is a substring of another.
str1 = input("Enter the Sentence")
substring = input()
if substring in str1:
  print("It is a Substring")
else:
  print("It is not not a Substring")

Enter the SentenceI love python
love
It is a Substring

In [ ]:
# String Anagram Check:
# Determine if two strings are anagrams of each other.
str1 = input("Enter the Sentence: ")
str2 = input("Enter the Sentence: ")
if (sorted(str1) == sorted(str2)):
  print("Anagram")
else:
  print("Not Anagram")

Enter the Sentence: silent
Enter the Sentence: listenall
Not Anagram

In [ ]:
# Remove Duplicates:
# Remove duplicate characters from a string.
str1 = input("Enter the Sentence: ")
temp = ' '
for i in str1:
  if i not in temp:
     temp = temp + i
print(temp)

Enter the Sentence: malyalam
 maly

In [ ]:
# Longest Word in a Sentence:
# Find the longest word in a given sentence.
str1 = input("Enter the Sentence: ")
y = 0
a = max(str1.split(), key=len)
print(a)

Enter the Sentence: astrazenica is not good
astrazenica

In [ ]:
# Character Frequency:
# Count the frequency of each character in a string.
str1 = input("Enter the Sentence: ")
freq = { }
for i in str1:
  if i in freq:
    freq[i] += 1
  else:
    freq[i] = 1
print(freq)

Enter the Sentence: I love SNEHA
{'I': 1, ' ': 2, 'l': 1, 'o': 1, 'v': 1, 'e': 1, 'S': 1, 'N': 1, 'E': 1, 'H': 1, 'A': 1}

In [ ]:
# First Non-Repeating Character:
# Find the first non-repeating character in a string.

In [ ]:
# Title Case Conversion:
# Convert a string to title case (e.g., "hello world" â†’ "Hello World").
str1 = "hello world"
a = str1.split()
for i in a:
  print(i.capitalize())

Hello
World

In [ ]:
str1 = "hello world"
str1.title()

'Hello World'

In [ ]:
# Palindrome Check:
# Check if a given string is a palindrome.
str1 = input("Enter the Sentence: ")
if str1 == str1[::-1]:
  print("Palindromic")
else:
  print("Not palintromic")

Enter the Sentence: malayalam
Palindromic

In [ ]:
# List
# Find Maximum and Minimum:
# Find the largest and smallest numbers in a list.
lst1 = [1,2,3,4,2,7,30,55,5,6,7,8]
print(min(lst1))
print(max(lst1))

1
55

In [ ]:
# List Reversal:
# Reverse a list without using the reverse() method.
lst1 = [1,2,3,4,5,6,7,8]
lst2 = [ ]
for i in lst1:
  lst2.insert(0,i)                      # why append does not work
print(lst2)

[8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Remove Duplicates from List:
# Remove duplicates from a list while maintaining order.
lst1 = [1,2,2,3,4,5,6,3,7,1,2,7,8]
lst2 = []
for i in lst1:
  if i not in lst2:
    lst2.append(i)
print(lst2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# List Rotation:
# Rotate a list by a given number of positions.
import random
lst1 = [1,2,3,4,5,6,7,8]
random.shuffle(lst1)     #try using loop
print(lst1)

[7, 4, 3, 6, 2, 5, 1, 8]

In [ ]:
import random
lst1 = [1,2,3,4,5,6,7,8]
lst2 = []
for i in range(0,len(lst1)):
  random.shuffle(lst1)
  lst2.append(lst1)
print(lst2)

[[8, 2, 1, 4, 3, 6, 7, 5], [8, 2, 1, 4, 3, 6, 7, 5], [8, 2, 1, 4, 3, 6, 7, 5], [8, 2, 1, 4, 3, 6, 7, 5], [8, 2, 1, 4, 3, 6, 7, 5], [8, 2, 1, 4, 3, 6, 7, 5], [8, 2, 1, 4, 3, 6, 7, 5], [8, 2, 1, 4, 3, 6, 7, 5]]

In [ ]:
# Find Common Elements:
# Find common elements between two lists.
lst1 = [1,2,3,4,5,6,7,8]
lst2 = [5,6,7,8,9,10,11,12]
lst3 = []
for i in lst1:
  if i in lst2:
   lst3.append(i)
print(lst3)

[5, 6, 7, 8]

In [ ]:
# List Sorting without Built-in Methods:
# Sort a list without using Python's built-in sort().
lst1 = [10,4,7,3,9,5,2,5,6]
lst1.sort()
print(lst1)

[2, 3, 4, 5, 5, 6, 7, 9, 10]

In [ ]:
# Pair with Sum:
# Find all pairs in a list whose sum equals a given number.
lst1 = [1,2,3,4,5,6,7,8]
lst2 = 6
p = set(lst1)
print(p)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# Second Largest Element:
# Find the second largest element in a list.
lst1 = [1,2,3,4,5,6,7,8]
lst1.sort()
print("The second largest number is ",lst1[-2])

The second largest number is  7

In [ ]:
# Cumulative Sum:
# Create a new list where each element is the cumulative sum of the original list.
lst1 = [10,15,20,25,30,35]
lst2 = []
y = 0
for i in range(0,len(lst1)):
  y += lst1[i]
  lst2.append(y)
print(lst2)

[10, 25, 45, 70, 100, 135]

In [ ]:
l = [1,2,3,4]
y = []
for i in l:
  y.append(l[-1])
y = l[-1] + str(l[0:-1:1])
print(y)

[4, 4, 4, 4]

In [ ]:
l = [1,2,3,4]
y = []
l[0:-1:1]

[1, 2, 3]

In [ ]:
l = [1,2,3,4]
str(l)
y = ' '
a = [l[-1]]
b = l[0:-1:1]
y = a+b
print(y)

[4, 1, 2, 3]

In [ ]:
l = [1,2,3,4]
y = ' '
a = l[3:]
b = l[:3]
y = a+b
print(y)

[4, 1, 2, 3]

In [ ]:
l = [1,2,3,4]
l = l[3:] + l[:3]
print(l)
l = l[3:] + l[:3]
print(l)

[4, 1, 2, 3]
[3, 4, 1, 2]

In [ ]:
lst = list(map(int, input("Enter list elements: ").split())).  # syntax to taking input of list elements in single line with space inbtw
k = int(input("Enter rotation count: "))
rotated = lst[k:] + lst[:k]
print("Rotated list:", rotated)

Enter list elements: 1 3 5 6
Enter rotation count: 2
Rotated list: [5, 6, 1, 3]

In [ ]:
dict1 = {"Rob":10, "Tom": 15, "Joe": 11}
for key in dict1:
   print(dict1[key])

10
15
11

In [ ]:
dict1 = {"Rob":10, "Tom": 15, "Joe": 11}
for k,v in dict1.items():
  print(k,v)

Rob 10
Tom 15
Joe 11

In [ ]:
def sum(a,b):
  n = a+b
  return n

sum(10,66)

76

In [ ]:
x = lambda a,b : a+b
print(x(10,33))

43

In [ ]:
s = ['1', '2', '3', '4']
res = map(int, s)
print(list(res))

[1, 2, 3, 4]

In [ ]:
# Pair with Sum:
# Find all pairs in a list whose sum equals a given number.

In [ ]:
nested_lst = eval(input("Enter nested list: "))
flat_list = []
for sublist in nested_lst:
    if type(sublist)==list:
        flat_list.extend(sublist)
    else:
        flat_list.append(sublist)
print("Flattened list:", flat_list)
#Higher order function--function which take another function as argument
l = [10,20,3,4]
r=[]
s=[]
def mul(item):
    return item*2
for i in l:
    r.append(mul(i))
s=list(map(mul,l))
print(r)
print(s)

In [ ]:
math.sqrt(16)

4.0